.vscode/
notebook/.ipynb_checkpoints/
note.txt
notebook/learning_dapi/
notebook/eikon.cfg
conversations/
binary/
notebook/mrn_notebook_app.ipynb
notebook/learning_pandas.ipynb
internal_dev/
notebook/learning/
documents/
old_README.md
DFO Worldscope Geographical Sales.zip
venv/
notebook/lseg-data.devrel.config.json